<!-- {{constructor.type}} -->
<div {{#controller.router.activeScreen.hide_menu}}style="display:none;"{{/controller.router.activeScreen.hide_menu}} class="menu_right_panel" id="menu_right_panel"> 
	<div class="btn-group">
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<span>{{userName}}</span>
			<span class="caret"></span>
		</button>
		<ul role="menu" class="dropdown-menu profile-menu">
			<li><a href="#logout" id="userFirstName_menu_Logout"><i class="icon-star-half"></i>((Logout))</a></li>
		</ul>	
	</div>
</div>