<!-- levels preview -->
<div class="offset1">
	<!--div class="row">
			<div class="span2 offset0">((Course))</div>
	</div-->
	{{#levels}}
		<div class="row">
			<div class="span2 offset{{offset}}">((Level)){{counter}}</div>
		</div>
	{{/levels}}
	<div class="row">
		<div class="span4 offset{{lessonLevel}}" style="color:gray">((Lesson))</div>
	</div>
	{{#LoLevel}}
		<div class="row">
			<div class="span4 offset{{LoLevel}}" >((Learning Object))</div>
		</div>		
	{{/LoLevel}}
	<div class="row">
		<div class="span4 offset{{sequenceLevel}}" style="color:gray">
			{{objectLabel}}
		</div>
	</div>
</div>		