<!-- {{constructor.type}} -->
<div class="editor-wrapper progress_editor props_editor">
    <ul class="nav nav-tabs" id="ProgressEditorTabs">
        <li class="active" >
            <a href="#properties" data-toggle="tab">((Properties- )){{controller.elementType}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="properties">
            <div class="control-group">
                <label class="control-label">((score:))</label>
                <input maxlength="10" {{#isQuizEqualMode}}disabled="disabled" value="equal"{{/isQuizEqualMode}} cantBeEnabled="true" type="text" {{^isQuizEqualMode}}data-value="obj.score"{{/isQuizEqualMode}} id="field_score"></input>
                {{^isQuizEqualMode}}
                <label class="control-label" for="field_score">((out of )){{totalSum}}</label>
                {{/isQuizEqualMode}}
            </div>

            <div class="control-group control-group--timer-enabled">
                <input type="checkbox" data-checked="obj.timer_enabled" id="timer_enabled">
                <label class="control-label inline-block" for="timer_enabled">((Enable timer))</label>
            </div>

            {{#show_timer_fields}}
                <div class="control-group control-group--timer-fields">
                    <label class="control-label" for="timer_field_minutes">((Task Timer (mm: ss) ))</label>

                    <div class="timer-fields">
                        <input type="number" id="timer_field_minutes" placeholder="mm" data-value="obj.timer_minutes" min="0" max="60">

                        <span class="timer-fields__separator"></span>

                        <input type="number" id="timer_field_seconds" placeholder="ss" data-value="obj.timer_seconds" min="0" max="59">
                    </div>
                </div>
            {{/show_timer_fields}}

        </div>
    </div>
</div>
