<!-- {{constructor.type}}
<div id="{{elementType}}_content" class="{{elementType}}_content_small">
    <div class="content_wrapper">
        {{#show_feedback}}
        <div id="{{elementType}}_feedback" class="{{elementType}}_feedback">
            <div id="feedback_icon_container" class="base-icon icon-with-text">
                <span class="icon base-icon icon-foo this-icon {{#empty_feedback}}empty{{/empty_feedback}}"></span>
                <span class="text">((Feedback))</span>
            </div>
        </div>
        {{/show_feedback}}
        {{#show_hint}}
        <div id="{{elementType}}_hint" class="{{elementType}}_hint">
            {{#record.data.show_hint}}
            <div id="hint_icon_container" class="base-icon icon-with-text">
                <span class="icon base-icon icon-foo this-icon {{#empty_hint}}empty{{/empty_hint}}"></span>
                <span class="text">((Hint))</span>
            </div>
            {{/record.data.show_hint}}
        </div>
        {{/show_hint}}
        <div style="width: 80%; display: table-cell;"></div>
        {{#show_num_of_attempts}}
        <div id="{{elementType}}_attempts">
            <span class="text">((Attempts: ))((0))/{{record.data.num_of_attempts}}</span>
        </div>
        {{/show_num_of_attempts}}
        <div id="{{elementType}}_check">
            <div id="check_icon_container" class="base-icon icon-with-text">
                <span class="icon base-icon icon-foo this-icon"></span>
                <span class="text">{{record.data.button_label}}</span>
            </div>
        </div>
    </div>
</div> -->
