<!-- {{constructor.type}} -->
<div id="{{elementType}}_content" class="{{elementType}}_content">
    <div class="content_wrapper">       
        <div id="{{elementType}}_check">
            <div id="check_icon_container" class="base-icon icon-with-text">
                <span class="icon base-icon icon-foo this-icon"></span>
                <span class="text">(({{record.data.button_label}}))</span>
            </div>
        </div>
        <div id="assessmentTotalScore">
            <span class="text">((score of this task is )){{record.data.score}}</span>
        </div>
    </div>
</div>