.gradle/
.idea/
.svn/
.shelf
build
out
*.log*

player
node_modules
/projects/frontend/cgs-frontend-war/src/main/webapp/locales/
*.iml
*.iws
*.ipr

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar