
##########

org.gradle.daemon=true
org.gradle.jvmargs=-Xms512m -Xmx1024m -XX:MaxPermSize=128m
org.gradle.java.home=@T2K_JAVA_HOME@
systemProp.file.encoding=utf-8
#org.gradle.java.home=d:/t2kdev/infra/Java/win32
#org.gradle.java.home=C:/t2kdev/infra/Java/Java8/win64



