<!-- {{constructor.type}} -->
<div class="editor-wrapper sequence_editor props_editor">
    <ul class="nav nav-tabs" id="sequenceEditorTabs">
        <li class="active">
            <a href="#properties" data-toggle="tab">((Props.))</a>
        </li>
        <li>
            <a href="#ped-info" data-toggle="tab">((Ped. Info))</a>
        </li>
        {{#controller.enableStandards}}
        <li><a href="#standards" data-toggle="tab">((Standards))</a></li>
        {{/controller.enableStandards}}
        <li><a href="#guide" data-toggle="tab">((Teacher's Guide))</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="properties">
            <div class="control-group">
                <label class="control-label required-field" for="field_title">((sequence.props.sequence_name.field_label)):</label>
                <div class="controls">
                    <input type="text" data-value="obj.title" id="field_title" class="input-large" {{#controller.record.data.diffLevel}} disabled cantBeEnabled="true" {{/controller.record.data.diffLevel}}>
                    <span class="help-inline error" id="field_title_err" style="display:none">((This field is required))</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="sequence_type">((Sequence Type:))</label>
                <div class="controls">
                    <select id="sequence_type" data-value="obj.type">
                        <option value="simple">((basic))</option>
                        <option value="shared">((shared))</option>
                    </select>
                </div>
            </div>
            <div class="control-group {{^displaySharedSequenceContext}}hidden{{/displaySharedSequenceContext}}">
                <label for="shared_context" class="control-label">((Shared Sequence Context)):</label>
                <div class="controls shared-context-wrapper">
                    <select id="shared_context" data-value="obj.sharedBefore">
                        <option value="false">((After tasks))</option>
                        <option value="true">((Before tasks))</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">((Exposure:))</label>
                <div class="radio-row">
                    <input {{#isLessonModeAssessment}} disabled cantBeEnabled="true" {{/isLessonModeAssessment}} type="radio" name="sequence_exposure" id="sequence_exposure_1" data-checked="obj.exposure" value="all_exposed">
                    <label for="sequence_exposure_1" class="control-label">((all_exposed))</label>
                </div>
                <div class="radio-row">
                    <input {{#isLessonModeAssessment}} disabled cantBeEnabled="true" {{/isLessonModeAssessment}} type="radio" name="sequence_exposure" id="sequence_exposure_2" data-checked="obj.exposure" value="one_by_one">
                    <label for="sequence_exposure_2" class="control-label">((one_by_one))</label>
                </div>
            </div>
            <div class="help_placeholder">
            </div>
            <div class="control-group">
                <label class="control-label">((Creative Wrapper:))</label>
                <div class="control-group">
                    <div class="controls">
                        {{#controller.record.data.creativeWrapper.thumbnail}}
                            <img class="thumbnail" id="creative_wrapper_thumbnail" title="((Creative Wraper))" src="{{#server-path}}{{controller.record.data.creativeWrapper.thumbnail}}{{/server-path}}">
                        {{/controller.record.data.creativeWrapper.thumbnail}}
                        {{^controller.record.data.creativeWrapper.thumbnail}}
                            <img id="creative_wrapper_thumbnail" class="no-img"></img>
                        {{/controller.record.data.creativeWrapper.thumbnail}}
                        <button class="btn" id="upload-creative-wrapper">((...))</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="ped-info">
            <div class="control-group">
                <label class="control-label" for="field_difficulty">((Difficulty)):</label>
                <div class="controls">
                    <select id="field_difficulty" data-value="obj.difficulty">
                        <option value="">((select from list))</option>
                        <option value="high">((High))</option>
                        <option value="medium">((Medium))</option>
                        <option value="low">((Low))</option>
                    </select>
                </div>
            </div>
            <div class="objective-placeholder">
            </div>
            <div class="control-group">
                <label class="control-label" for="field_keywords">((Keywords:))</label>
                <div class="controls">
                    <textarea rows="2" data-value="obj.keywords" id="field_keywords" class="input-large" placeholder="((Type Something...))" />
                </div>
            </div>
        </div>
        <div class="tab-pane" id="guide">
            <div class="control-group">
                <div class="teacherGuide-placeholder"></div>
            </div>
        </div>
        {{#controller.enableStandards}}
        <div class="tab-pane" id="standards">
            <h5>((standards.sequence_editor.props.title))</h5>
            <div id="standards_list"></div>
        </div>
        {{/controller.enableStandards}}
    </div>
</div>
