<!-- {{constructor.type}} -->
<div class="commentsArea"></div>
<div class="row-fluid {{#record.data.sharedBefore}} sharedBefore {{/record.data.sharedBefore}} {{^record.data.sharedBefore}} sharedAfter {{/record.data.sharedBefore}}">

    	<div class="span7 sequence share-content  "><div class="editor-wrapper sequence_editor sequence_stage sequence_content"/></div>
    	<div class="span5 shared share-content"><div class="editor-wrapper sequence_editor sequence_stage sharedContent_wrapper"/></div>

</div>