<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="applicationContext-MongoDBTest.xml"/>
    <bean name="locksDaoTest" class="org.t2k.lock.tests.LocksMongoTestDao" parent="mongoDao"/>
    <bean name="courseDaoTest" class="org.t2k.cources.tests.CourseMongoDaoTest" parent="mongoDao"/>
    <bean name="lessonDaoTest" class="org.t2k.lessons.tests.LessonMongoTestDao" parent="mongoDao">
        <property name="tocItemCollection" value="lessons"/>
    </bean>
    <bean name="packageDaoTest" class="org.t2k.packages.tests.PackagesMongoTestDao" parent="mongoDao"/>
    <bean name="usersDao" class="org.t2k.cgs.dao.user.UsersMongoDao" parent="mongoDao"/>
    <bean name="sequencesDaoTest" class="org.t2k.lessons.tests.SequencesMongoDaoTest" parent="mongoDao"/>
    <bean name="uniqueIdDao" class="org.t2k.cgs.dao.util.UniqueIdMongoDao" parent="mongoDao"/>
    <bean name="publisherDao" class="org.t2k.cgs.dao.publisher.PublisherMongoTestDao" parent="mongoDao"/>
    <bean name="cleanupsDao" class="org.t2k.cgs.dao.cleanups.CleanupsMongoDao" parent="mongoDao" />
    <bean name="notificationsDao" class="org.t2k.cgs.dao.userNotifications.NotificationsMongoDao" parent="mongoDao" />
    <bean name="tinyKeysDao" class="org.t2k.cgs.dao.tinyKeys.TinyKeysMongoDao" parent="mongoDao" />

</beans>