<div id="distribute">
    <div class="distributeType publish">
        <div class="distributeImage"></div>
        <div class="distributeTitle">
            Publish your book to different channels
        </div>
        <div class="distributeOptionsArea">
            <div class="distributeOptionRow">
                <input type="checkbox" id="AppleStore" />
                <label class="control-label" for="AppleStore">Apple Store</label>
            </div>
            <div class="distributeOptionRow">
                <input type="checkbox" id="GooglePlay" />
                <label class="control-label" for="GooglePlay">Google Play</label>
            </div>
            <div class="distributeOptionRow">
                <input type="checkbox" id="T2KCatalog" />
                <label class="control-label" for="T2KCatalog">T2K Catalog</label>
            </div>
            <div class="distributeOptionRow">
                <input type="checkbox" id="BookStore" />
                <label class="control-label" for="BookStore">Book Store</label>
            </div>
        </div>
        <div class="actionArea">
        	<div class="distribute-button" type="publish">Publish</div>
        </div>

    </div>
    <div class=" distributeType export">
        <div class="distributeImage"></div>
        <div class="distributeTitle">Export your files to different types</div>
        <div class="distributeOptionsArea">
            <div class="distributeOptionRow">
                <input type="checkbox" id="html5" />
                <label class="control-label" for="html5">HTML 5</label>
            </div>
            <div class="distributeOptionRow">
                <input type="checkbox" id="epub3" />
                <label class="control-label" for="epub3">ePub 3</label>
            </div>
            <div class="distributeOptionRow">
                <input type="checkbox" id="scormZipFile" />
                <label class="control-label" for="scormZipFile">Scorm zip File</label>
            </div>
        </div>
        <div class="actionArea">
        	<div class="distribute-button" type="export">Export</div>
        </div>
    </div>
</div>
