<div class="externalDistributionForm">
    <div id="{{id}}">
        <div class="externalDistributionFormArea">
            <div class="form-row form-title">
                {{name}}
            </div>
            <div class="form-row">
                <input type="text" placeholder="App Id" />
            </div>
            <div class="form-row">
                <input type="text" placeholder="appName" />
            </div>
            <div class="form-row">
                <input type="text" placeholder="URL" />
            </div>
            <div class="form-row img">
                <div class="uploadIcon-placeholer"></div>
                <div class="upload-button">Upload Icon</div>
            </div>
            <div class="form-row img">
                <div class="uploadSplash-placeholer"></div>
                <div class="upload-button">Upload Splash Image</div>
            </div>
            <div class="form-row img">
                <div class="upload-button">Upload Certificate</div>
                <div class="uploadCertificate"></div>
            </div>
            <div class="form-row">
                <input type="text" placeholder="Store Password" />
            </div>
            <div class="form-row">
                <input type="text" placeholder="key Alias" />
            </div>
        </div>
    </div>
</div>
