<!-- {{constructor.type}} -->
<div class="editor-wrapper matchingAnswer_editor props_editor">
    <ul class="nav nav-tabs" id="matchingAnswerEditorTabs">
       <li class="active" >
            <a href="#properties" data-toggle="tab">((Properties- )){{controller.elementType}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="properties">
            <div class="control-group">
                <label class="control-label" for="field_interaction_type">((Interaction:))</label>
                <select id="field_interaction_type" data-value="obj.interaction_type">
                    <option value="drag_and_drop">((Drag and Drop))</option>
                    <option selected value="linking">((Linking))</option>
                </select>
            </div>
            <div class="control-group">
                <label class="control-label" for="field_definitionType">((Part A type)):</label>
                <select id="field_definitionType" data-value="obj.definitionType">
                    <option value="textViewer">((Text))</option>
                    <option value="imageViewer">((Image))</option>
                    <option value="soundButton">((Sound Button))</option>
                </select>
            </div>
            <div class="control-group">
                <label class="control-label" for="field_answerType">((Part B type)):</label>
                <select id="field_answerType" data-value="obj.answerType">
                    <option value="textViewer">((Text))</option>
                    <option value="imageViewer">((Image))</option>
                    <option value="soundButton">((Sound Button))</option>
                </select>
            </div>
            <div class="control-group">
                <label class="control-label" for="field_random">((Randomize)):</label>
                <select id="field_random" data-value="obj.random">
                    <option value="only_b">((Part B Only))</option>
                    <option value="b_and_a">((In Parts A and B))</option>
                    <!-- <option value="between_a_and_b">((Between Parts A and B))</option> -->
                </select>
            </div>
            <div class="control-group">
                <input type="checkbox" data-checked="obj.useBank" id="field_useBank" >
                <label class="control-label" for="field_useBank">((Use distractors))</label>
            </div>
        </div>    
    </div>
</div>