<div class="span12">
    <label class="applets-title" for="applets_table">
        <h5>((Applets))</h5>
        <button id="applets-update-all" class="btn btn-small applets-update-all">((Update All))</button>
        <div>((Applets used in the course:))</div>
    </label>
    <table id="applets_table" class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 15%">((Thumbnail))</th>
            <th style="width: 60%">((Name))</th>
            <th style="width: 25%">((Version))</th>
        </tr>
        </thead>
        <tbody id="applets_list">
            <tr id="empty_placeholder">
                <td colspan="4">
                    <div class="alert alert-info">((This list is empty.))</div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>&nbsp;</div>
</div>
