<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd"
       default-init-method="init">

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <context:property-placeholder ignore-unresolvable="true" location="classpath:reloadStandards.properties"/>

    <bean name="t2kConfig" class="com.t2k.configurations.Configuration" init-method="loadConfigurations">
        <constructor-arg index="0">
            <list>
                <value>t2k.properties</value>
            </list>
        </constructor-arg>
    </bean>

</beans>