<!-- {{constructor.type}} -->
<div class="editor-wrapper advancedProgress_editor props_editor">
    <ul class="nav nav-tabs" id="ProgressEditorTabs">
        <li class="active" >
            <a href="#properties" data-toggle="tab">Properties- {{controller.elementType}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="properties">
            <div class="control-group">
                <input type="checkbox" data-checked="obj.checking_enabled" id="field_checking_enabled">
                <label class="control-label inline-block" for="field_checking_enabled">((Checking enabled))</label>
            </div>
            {{#controller.record.data.checking_enabled}}
                {{#show_num_of_attempts}}
                <div class="control-group">
                    <label class="control-label" for="field_num_of_attempts">((Number of attempts:))</label>
                    <select id="field_num_of_attempts" data-value="obj.num_of_attempts">
                        {{#attemptsOptions}}
                        <option value="{{value}}">{{value}}</option>
                        {{/attemptsOptions}}

                    </select>
                </div>
                {{/show_num_of_attempts}}
            {{/controller.record.data.checking_enabled}}
            
            {{#show_hint}}
                <!-- <div>
                    <h5>((Hint))</h5>
                </div> -->
                <div class="control-group">
                    <input type="checkbox" data-checked="obj.show_hint" id="field_show_hint">
                    <label class="control-label inline-block" for="field_show_hint">((Show Hint button))</label>
                </div>
                
                {{#controller.record.data.checking_enabled}}
                    
                    {{#show_timing}}
                    <div class="control-group">
                        <label class="control-label" for="field_hint_timing">((Timing:))</label>
                        <select id="field_hint_timing" data-value="obj.hint_timing" >
                            <option value="1">((Always))</option>
                            {{^options.controller.record.data.showOnlyAlways}}
                                <option value="2">((After Mistake))</option>
                            {{/options.controller.record.data.showOnlyAlways}}
                        </select>
                    </div>
                    {{/show_timing}}

                    {{#options.controller.record.data.show_on_attempt}}
                    <div class="control-group">
                        <label class="control-label" for="field_on_attempt">((Mistake Number:))</label>
                        <select id="field_on_attempt" data-value="obj.on_attempt">
                            {{#on_attempt}}
                            <option value="{{value}}">{{value}}</option>
                            {{/on_attempt}}
                            
                        </select>
                    </div>
                    {{/options.controller.record.data.show_on_attempt}}
                    
                {{/controller.record.data.checking_enabled}}
            
            {{/show_hint}}

            {{#controller.record.data.checking_enabled}}
                {{#show_feedback_prop}}
                <!-- <div>
                    <h5>((Feedback))</h5>
                </div> -->
                <div class="control-group">
                    <label class="control-label" for="field_feedback_type">((Feedback type:))</label>
                    <select id="field_feedback_type" data-value="obj.feedback_type">                
                    </select>
                </div>          
                {{/show_feedback_prop}}
            {{/controller.record.data.checking_enabled}}

        </div>    
    </div>
</div>

