<!-- {{constructor.type}} -->
<div class="screen-header toc_screen">
    <div class="row-fluid" id="menu_base_wrapper" focusCapture="menu">
        <div id="menu_base"></div>
    </div>
    <div class="row-fluid" id="sub_menu_base_wrapper" focusCapture="submenu">
        <div class="btn-toolbar" id="sub_menu_base"></div>
    </div>
    <div class="row-fluid" id="navbar_base_wrapper">
        <div id="navbar_base" focusCapture="navbar"></div>
    </div>
</div>
<div class="screen-content">
    <div class="row-fluid">
        <div class="span3" id="tree_base" focusCapture="tree"></div>
        <div class="span6" id="stage_base" focusCapture="stage"></div>
        <div class="span3" id="props_base" focusCapture="props"></div>
    </div>
</div>
