#dialog,
#dialog div {
	box-sizing: border-box;
}

#dialog {
	min-height: 340px;
	/*max-height: 340px;*/
	/*height: 340px;*/
	border: 1px solid #E4DFDF;
	border-radius: 0;
	/*box-shadow: 0 0 30px 5px rgba(0, 0, 0, .5);*/
	overflow: hidden;
	font-family: "open_sans";
	box-shadow: 0 3px 2px rgba(0, 0, 0, .3);
}

#dialog #close {
    /*width: 16px;*/
    /*height: 17px;*/
    /*background-image: url(../media/icons_sprite.png);*/
    /*float: right;*/
    /*background-position-y: -139px;*/
    /*cursor: pointer;*/
    /*margin: 19px;*/
	width: 16px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	width: 28px;
	height: 50px;
	background-image: url('../media/close_button _normal.png');
	background-position: 0!important;
}

#dialog #close:hover {
	background-image: url(../media/close_button_hover.png);
}

#dialogTitle {
	padding: 0;
	width: 100%;
	background-color: #F4F8FA;
	min-height: 50px;
	max-height: 50px;
	border-bottom: 1px solid #E4DFDF;
}

#dialogTitle h3 {
	color: #2D3033;
	padding-left: 20px;
	font-size: 18px;
	font-weight: bold;
	line-height:50px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#dialogContent {
	display: inline-block;
	padding: 0;
	min-height: 220px;
	max-height: 220px;
	overflow-x: hidden;
	overflow-y: auto; 
	padding: 10px;
    margin-bottom: 0;
    width: 99%;
}

#dialogContent h5:first-child {
	margin: 0;
}

#dialogControls {
	display: inline-block;
	width: 100%;
	padding: 28px;
	max-height: 90px;
	min-height: 90px;
	margin: 0;
	background-color: #FFF;
	border-top: 1px solid #E4DFDF;
}

#dialogControls .btn {
	font-weight: normal;
	height: 34px;
	padding: 6px 16px;
	border: 0;
	background-color: #4391F7;
	color: #FFFFFF;
	font-size: 16px;
	text-shadow: none;
	border-radius: 2px;
	text-transform: capitalize;
}

#dialogControls .btn .disabled{
	opacity: .40;
}

#dialogControls .btn:hover{
	opacity: .70;
}

.dialog-icon {
    float:left;
    margin:10px 10px 0 17px;
    width:38px;
    height:180px;
}

.dialog-icon div {
    background-image:url("../media/icons_sprite.png");
    width:28px;
    height:28px;
}

.dialog-icon-warn {
    background-position: 18px -87px;
}

.dialog-icon-error{
    background-position: -379px 1px;
}

#dialog .icon-warning:before {
    font-family: 'CGS-icons';
    font-size: 75px;
    content: "\0078";
}

#dialog .icon-warning {
    line-height: normal;
    margin: -11px 0;
}

#dialog.simple #dialogContent {
	padding: 10px 22px;
}

