#dialog.differentiationRelations{
    height: 546px;
    max-height: 546px;
}

#dialog.differentiationRelations #dialogContent{
    padding: 20px;
    max-height: 406px;
}

#dialog.differentiationRelations input.score-input-y,#dialog.differentiationRelations  input.score-input-x {
	/*width: 50px;*/
    width: 3em;
}

#dialog.differentiationRelations .relations th {
	text-align: center;
    background: #f1f1f1;
}

#dialog.differentiationRelations .relations .inner-table tr td {
	border: 0;
}

#dialog.differentiationRelations .relations td {
	vertical-align: middle;

	text-align: center;
}

#dialog.differentiationRelations .relations td .score-range-span{
    width: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
#dialog.differentiationRelations .relations td textarea{
    resize: none;
}

#dialog.differentiationRelations .relations .badges {
	max-width: 70px;
}