#stage_base {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
.separator_content{
    margin: 10px 0 0 10px;
    padding-right: 1px;
}
.separator_content .element_preview_wrapper{
    display: block;
}
.separator_content .element_preview_wrapper.view_mode_normal > .textViewer_content{
    width: 100%;
}
.separator_content .previewImage {
    max-height: 350px;
    max-width: 750px;
    height: inherit;
    width: inherit;
    min-height: 126px;
    min-width: 126px;
}
.separator_content .imageViewer_content {
    padding: 2px;
}
#previewImage.no-img{
    width: 124px;
    height: 124px;
    background-image: url('../media/icons_sprite.png');
    background-position: -1px -171px; 
}

.genericTitle_content, 
.genericSubTitle_content {
    padding: 15px;
    line-height: 1.3;
    border: solid 1px rgb(195, 195, 195);
    margin-top: 20px;
    word-wrap:break-word;
    position: relative;
}
