<div class="growinglist-row js-growing-row" idx="{{idx}}" >	
	<div class="row">
		<label class="span4 conditionTitle">((Answer is))</label>
		<select id="condition" class='comparisonSelect span5' >
			<option value="equal">((Equal to))</option>
			<option value="bigger">((Greater than))</option>
			<option value="smaller">((Less than))</option>					
			<option value="divided">((Divided by))</option>
			<!--<option value="remainder">((Has Remainder of))</option> -->
			<option value="notequal">((Not equal to))</option>
		</select>
		<div class="mathfieldContainer"></div>
		<div class="column trash btn">
			<button class="btn js-growing-remove base-icon icon-trash"></button>
		</div>
	</div>
</div>