<div class="span12">
    <label for="ebooks_in_use_table">
        <div>((ePub3InUse.desc.line1))</div>
        <div>((ePub3InUse.desc.line2))</div>
    </label>
    <table id="ebooks_in_use_table" class="table table-bordered custom_table">
        <thead>
            <tr>
                <th style="width: 15%">((Thumbnail))</th>
                <th style="width: 40%">((Name))</th>
                <th style="width: 20%">((LastModified))</th>
                <th style="width: 15%">((Update))</th>
            </tr>
        </thead>
        <tbody id="ebooks_in_use_list">
        <tr id="empty_placeholder">
            <td colspan="4">
                <div class="alert alert-info">((This list is empty.))</div>
            </td>
        </tr>
        </tbody>
    </table>
    <div>&nbsp;</div>
</div>
