<div class="span12">
  <label class="toolbox-title" for="toolbox-table">
    <h5>((Toolbox))</h5>

    <div class="toolbox-title__subtitle">
      <div class="toolbox-title__description">
        ((Widgets to be used in TEACH's Toolbox))
      </div>

      <button id="add-applet-to-toolbox" type="button" class="btn">((Add Widget))</button>
    </div>
  </label>

  <table id="toolbox-table" class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 15%">((Thumbnail))</th>
        <th style="width: 60%">((Name))</th>
        <th style="width: 25%">((Action))</th>
      </tr>
    </thead>

    <tbody id="toolbox-list">
      <tr id="empty_placeholder">
        <td colspan="3">
          <div class="alert alert-info">((This list is empty.))</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
