<!-- {{constructor.type}} -->
<div class="editor-wrapper title_editor props_editor">
    <ul class="nav nav-tabs" id="TitleEditorTabs">
        <li class="active" >
            <a href="#properties" data-toggle="tab">((Properties- )){{controller.elementType}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="properties">
            <div class="control-group">
                <input type="checkbox" data-checked="obj.show" id="field_show_title" >
                <label class="control-label" for="field_show_title">((Show title))</label>
            </div>            
        </div>    
    </div>
</div>