<!-- {{constructor.type}} -->
<div class="editor-wrapper SoundButton_editor props_editor">
    <ul class="nav nav-tabs" id="SoundButtonEditorTabs">
        <li class="active" >
            <a href="#properties" data-toggle="tab">(({{controller.elementRenderName}} Properties))</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="properties">                      
            <div class="control-group">                
                <label class="control-label" >((File:))</label>
                <div class="controls">
                    <div id="SoundButtonUploader"></div>                  
                </div>              
            </div>
        </div>
    </div>
</div>