<!-- {{constructor.type}} -->
<div class="editor-wrapper referenceSequence_editor props_editor">
    <ul class="nav nav-tabs" id="referenceSequenceEditorTabs">
        <li class="active" >
            <a href="#properties" data-toggle="tab">((Properties))</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="properties">
            <div class="control-group">
                <label class="control-label required-field" for="field_title">((Name:))</label>
                <div class="controls">
                    <input type="text" data-value="obj.title" id="field_title" class="input-large"></input>
                    <span class="help-inline error" id="field_title_err" style="display:none">((This field is required))</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="field_changeReferenceSequence">((Change Sequence:))</label>
                <div class="controls">
                    <button id="changeSequence" class="btn btn-small">((...))</button>
                </div>
            </div>
        </div>
    </div>
</div>