<h5>Manage Custom Fields:</h5>
<table id="metadata-table" cellpadding="0" cellspacing="0" border="0"
       class="table table-striped table-bordered table-hover content-table">
    <thead>
        <th>#</th>
        <th>Field Name</th>
        <th>Type</th>
        <th>Properties</th>
        <th>Required</th>
        <th class="actions_header">Actions</th>
    </thead>
    <tbody>
    </tbody>
</table>
<button class="btn add-new-metadata-row" id="add-new-row">
    <a class="icon-plus"></a>
</button>
